:root {
    --cellSize: 6em;
    --green: #f0fff0;
    --red: #fff0f0;
}

.globalDiv {
    display: flex;
    flex-direction: row;
}

.boardDiv {
    display: flex;
    position: relative;
}

.boardImage {
    position: relative;
    width: calc(8*var(--cellSize));
    height: calc(8*var(--cellSize));
}

.pieces {
    position: absolute;
}

.systemMessages {
    padding-left: 2em;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 60em;
}

.systemMessage {
    line-height: 0;
}

.inputId {
    display: none;
    width: 20em;
}

.inputAnotherPlayersIDHere {
    display: none;
}

.chooseColorImages {
    display: none;
    width: 5em;
    height: 5em;
}

.promotionImage {
    display: none;
    width: 5em;
    height: 5em;
}

.imagesDiv {
    display: flex;
    flex-direction: row;
}

.gameResult {
    color: red;
}

.buttons {
    display: flex;
    flex-direction: row;
}

.gameManageButtons {
    margin: 0.5em;
    font-size: 1.5em;
    width: 6em;
    height: 3em;
    background-color: var(--green);
}

.rematch {
    display: none;
}

.newGame {
    display: none;
}

.quickPlay {
    display: none;
}

.playWithFriend {
    display: none;
}

.nextGame {
    display: none;
}

.chat {
    display: none;
    flex-direction: column;
}

.chatDiv {
    width: 26em;
}

.chatLabel {
    text-align: center;
}

.chatMessages {
    height: 24em;
    line-height: 3em;
    overflow: scroll;
    border: thin #000 solid;
    display: flex;
    flex-direction: column;
}

.inputMessage {
    margin-top: 1em;
    width: 30.8em;
}