:root {
    --green: #f0fff0;
    --red: #fff0f0;
}

.globalDiv {
    display: flex;
    grid-row: 1;
    flex-direction: row;
}

.divBoard {
    display: flex;
    position: relative;
}

.board {
    position: relative;
}

.pieces {
    position: absolute;
}

.messages {
    padding: 2em;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 60em;
}

.input {
    display: none;
    width: 20em;
}

.inputAnotherPlayersIDHere {
    display: none;
}

.chooseColorImages {
    display: none;
    width: 10em;
    height: 10em;
}

.promotionImage {
    display: none;
    width: 10em;
    height: 10em;
}

.imagesDiv {
    display: flex;
    flex-direction: row;
}

.gameResult {
    color: red;
}

.gameManage {
    margin: 0.5em;
    font-size: 1.5em;
    width: 6em;
    height: 3em;
}

.exit {
    display: none;
    background-color: var(--red);
}

.quickPlay {
    background-color: var(--green);
}

.searchingOpponent {
    display: none;
}
